.circle text {
  fill: black;
}
.container-page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  font-family: "Questrial", sans-serif;
}

.banner {
  margin-top: 0px;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 30;
  background-color: white;
}

.banner h1 {
  margin: 0px;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: bold;
  color: #f7d283;
  color: #444444;
}

.banner p {
  font-size: 35px;
  margin: 0px;
  margin: 15px;
  color: #888888;
  color: #f7d283;
}

.container-content {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.button {
  margin: 10;
  font-weight: bold;
}

.button-container {
  margin: 10px;
}

.graph {
  display: flex;
  background-color: white;
  box-shadow: 0 3px 5px 0px #d3d3d3;
  -moz-box-shadow: 0 3px 5px 0px #d3d3d3;
  -webkit-box-shadow: 0 3px 5px 0px #d3d3d3;
  flex: 1;
  max-width: 1000px;
  margin: auto;
}

.panel {
  background-color: #f9f9f9;
  box-shadow: 0 3px 5px 0px #d3d3d3;
  -moz-box-shadow: 0 3px 5px 0px #d3d3d3;
  -webkit-box-shadow: 0 3px 5px 0px #d3d3d3;
  width: 40%;
}

.myCard {
  background-color: white;
  box-shadow: 0 3px 5px 0px #efe4ce;
  -moz-box-shadow: 0 3px 5px 0px #efe4ce;
  -webkit-box-shadow: 0 3px 5px 0px #efe4ce;
  margin: 20px;
  overflow-y: auto;
  max-width: 500px;
}

.myCard h1 {
  margin: 15px;
  margin-bottom: 0px;
  text-transform: uppercase;
  font-size: 20px;
}

.myCard p {
  margin: 15px;
  text-align: left;
}

#courseList {
  height: 400px;
}
